
<div class="border p-3">
  <p>All list of scooters in your neighbourhood:</p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Id</th>
      <th>Tag</th>
      <th>Status</th>
      <th>GPS Location</th>
      <th>Distance</th>
      <th>Battery charge</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let scooter of scooters">
      <td>{{scooter.id}}</td>
      <td>{{scooter.tag}}</td>
      <td>{{scooter.getStatusToString()}}</td>
      <td *ngIf="scooter.status !== scooter.getScooterStatusEnum().IN_USE;else noLocation">{{scooter.gpsLocation}}</td>
      <ng-template #noLocation><td></td></ng-template>
      <td>{{scooter.setMileage}} M</td>
      <td>{{scooter.batteryCharge}} %</td>
    </tr>
    </tbody>
  </table>
</div>
<button class="float-right btn-primary m-2" (click)="addRandomScooters()">Add Scooter</button>


