header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 100px;
  background-color: lightgray;
  padding: 1rem;
  margin-bottom: 1rem;
}

img{
  display: block;
  max-height: 100px;
  max-width: 100px;
  object-fit: contain;
}

.title{
  text-align: center;
}
