.grid{
  display: grid;
  grid-gap: 1rem;
}

.grid--scooter-overview{
  /*Left sidebar - scooters - right sidebar*/
  grid-template-columns: 150px auto 150px;
  padding: 0 1rem;
}

@media only screen and (min-width: 768px) {
  .grid--scooter-overview{
    grid-template-columns: 250px auto 250px;
  }
}

.grid--half{
  grid-template-columns: 1fr;
}

@media only screen and (min-width: 600px) {
  .grid--half{
    grid-template-columns: repeat(2, 1fr);
  }
}

.img--scooter{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.notification{
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}
.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
}

select{
  width: 100%;
  margin-bottom: 1rem;
}

.chosenCity{
  display: contents;
}

.labelPlace {
  width: 100%;
  background-color: rgba(0,0,0,.05);
  border-radius: 5px;
  padding: .5rem;
  margin-bottom: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scootersAvailable{
  border-radius: 100%;
  width: 25px;
  height: 25px;
  background-color: var(--color-blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.scootersAvailable span{
  font-size: .8rem;
  /*color: var(--color-white);*/
}



.labelPlace:hover{
  background-color: rgba(0,0,0,.1);
  cursor: pointer;
}
