
<div class="grid grid--scooter-overview">

  <div class="col">
      <select style="width: 200px" [(ngModel)]="chosenCity">
        <option *ngFor="let city of cities" [value]="city">
          {{city}}
        </option>
      </select>
    <div class="text-center"><strong>{{chosenCity}}</strong></div>

  </div>

  <div class="grid grid--half">
<!--    <img *ngFor="let data of imagesArray" class="img&#45;&#45;scooter" src="{{data.image}}" alt="Scooter image">-->
    <div *ngFor="let data of imagesArray" class="img--scooter" style="background-image: url({{data.image}})"></div>
  </div>


  <div class="col text-right">Info</div>
</div>
