.hover-items .list-group-item:hover{
  background-color: #1976d2;
}
.image-size{
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
