
<div class="grid grid--scooter-overview">

  <div class="col">
      <div id="custom-search-input">
        <div class="input-group">
          <input id="location" type="text" class="form-control input-lg" placeholder="Location" />
        </div>
        <ul class="list-group hover-items">
          <li class="list-group-item">Amsterdam</li>
          <li class="list-group-item">Amstelveen</li>
          <li class="list-group-item">Haarlem</li>
          <li class="list-group-item">Leidsplein</li>
          <li class="list-group-item">Delflandlaan</li>
        </ul>
      </div>
  </div>

  <div class="grid grid--half">
<!--    <img *ngFor="let data of imagesArray" class="img&#45;&#45;scooter" src="{{data.image}}" alt="Scooter image">-->
    <div *ngFor="let data of imagesArray" class="img--scooter" style="background-image: url({{data.image}})"></div>
  </div>


  <div class="col text-right">Info</div>
</div>
