
<div class="grid grid--scooter-overview">
  <div>
    <select [(ngModel)]="chosenCity">
      <option *ngFor="let city of cities" [value]="city">
          {{city}}
      </option>
    </select>
    <ul>
      <li class="labelPlace" *ngFor="let place of getPlace(chosenCity)" [value]="place">
        <span>{{place}}</span>
        <span class="scootersAvailable">
          <span>45</span>
        </span>
      </li>
    </ul>
  </div>
  <div>
    <h3>{{"Scooters in " + chosenCity}}</h3>
    <section class="grid grid--half">
  <!--    <img *ngFor="let data of imagesArray" class="img&#45;&#45;scooter" src="{{data.image}}" alt="Scooter image">-->
      <div *ngFor="let data of imagesArray" class="img--scooter" style="background-image: url({{data.image}})"></div>
    </section>
  </div>


  <section>
    <p>
      <strong>Battery percentage:</strong>
      <br>
      100%
    </p>
    <hr>
    <p>
      <strong>Location:</strong>
      <br>
      Leidseplein
    </p>
    <button type="button" class="btn btn-warning btn-lg btn-block">Subscribe</button>
  </section>
</div>
