<div *ngIf="selectedScooter != null && deletedScooter != selectedScooter;else noScooter">
  <h3>Update scooter {{selectedScooter.tag}} ({{-selectedScooter.id}})</h3>

  <label>Tag</label>
  <input [(ngModel)]="selectedScooter.tag" class="form-control" type="text" [value]="selectedScooter.tag">

  <label>Status</label>
          <select [(ngModel)]="selectedScooter.status" class="form-control" name="" id="">
            <option *ngFor="let i of statusesArray"
                    [attr.selected]="allStatuses[selectedScooter.status] == allStatuses[i] ? true : null"
            value="{{i}}">
               {{allStatuses[i]}}</option>
          </select>

  <label>Gps-Location</label>
  <input [(ngModel)]="selectedScooter.gpsLocation" class="form-control" type="text" [value]="selectedScooter.gpsLocation">

  <label>Mileage</label>
  <input [(ngModel)]="selectedScooter.getMileage" class="form-control" type="text" [value]="selectedScooter.getMileage">

  <label>Battery Charge</label>
  <input [(ngModel)]="selectedScooter.batteryCharge" class="form-control" type="text" [value]="selectedScooter.batteryCharge">

  <br>
    <Button class="btn btn-danger float-right" (click)="emitScooter(selectedScooter)">Delete</Button>

</div>

  <ng-template #noScooter><p  class="col">There is no scooter selected yet.</p></ng-template>

