
<div class="row p-3">
  <div class="col-6 border">
    <p>All list of scooters in your neighbourhood:</p>
    <table ng class="table table-striped">
      <thead>
      <tr>
        <th>Tag</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
<!--      Focus on this element by adding the class when it's the last element and not clicked-->
      <tr [ngClass]="{'focusTd': scooter.id === focusLastElement && !clicked}" tabindex="0" (click)="getClickedScooter(scooter);" *ngFor="let scooter of scooters">
        <td>{{scooter.tag}}</td>
        <td>{{scooter.getStatusToString()}}</td>
      </tr>
      </tbody>
    </table>
    <button  (click)="addRandomWithFocusSelection();" class="btn btn-primary">Add Scooter</button>
  </div>
  <app-detail2 class="col-6" (outputEvent)="deleteScooter($event)" [scooter]="getSelectedScooter()"></app-detail2>
</div>

