<div class="row">
  <div class="col-6 border p-3">
    <p>All list of scooters in your neighbourhood:</p>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Tag</th>
        <th>Status</th>
      </tr>
      </thead>
      <tbody>
      <!--      Focus on this element by adding the class when it's the last element and not clicked-->
      <tr [ngClass]="{'focusTd': scooter.id === selectedScooterId && !cancelButtonIsClicked} " tabindex="0" (click)="getClickedScooter(scooter)" *ngFor="let scooter of getScooters()">
        <td>{{scooter.tag}}</td>
        <td>{{scooter.getStatusToString()}}</td>
      </tr>
      </tbody>
    </table>
    <button (click)="addRandomWithFocusSelection();" class="btn btn-primary">Add Scooter</button>
  </div>
  <app-detail3 [selectedScooterId]="selectedScooterId" [hasChanged]="newClickedScooterId != null" (removeSelectedScooter)="selectedScooterId = $event"></app-detail3>
</div>

